<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>THE CUSTOM</title>
</th:block>
<th:block layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <!-- TABLE STRIPED -->
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Board List</h2>
                </div>
                <div class="panel-body">
                    <form id="searchForm" onsubmit="return false;" autocomplete="off" style="width: 500px; float: left;">
                        <div class="input-group">
                            <input type="text" value="" class="form-control" placeholder="키워드를 입력해주세요">
                            <span class="input-group-btn"><button type="button" class="btn btn-primary">검색</button></span>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" style="float: right; margin: 0px 2px;">글쓰기</button>
                    <button type="button" class="btn btn-primary" style="float: right; margin: 0px 2px;">삭제</button>
                </div>

                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>선택</th>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${not #lists.isEmpty( boards )}" th:each="row, status : ${boards}">
                                <td><input type="checkbox"/></td>
                                <td th:text="${status.size - status.index}"></td>
                                <td><a th:href="@{/board/view.do( boardSeq=${row.boardSeq} )}" th:text="${row.boardTitle}"></a></td>
                                <td th:text="${row.boardWriter}">Jobs</td>
                                <td th:text="${#temporals.format( row.boardRegDate, 'yyyy-MM-dd HH:mm' )}"></td>
                            </tr>

                            <tr th:unless="${not #lists.isEmpty( boards )}">
                                <td colspan="5">
                                    <div>검색된 결과가 없습니다.</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--/* 페이지네이션 */-->
                <div class="panel-body" style="text-align: center; font-size: 20px;">
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">첫 페이지</a></span>
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">이전 페이지</a></span>
                    <span class="on" style="margin: 0px 2px;">1</span><a href="#" style="margin: 0px 2px;">2</a><a href="#" style="margin: 0px 2px;">3</a>
                    <a href="#" style="margin: 0px 2px;">4</a><a href="#" style="margin: 0px 2px;">5</a><a href="#" style="margin: 0px 2px;">6</a>
                    <a href="#" style="margin: 0px 2px;">7</a><a href="#" style="margin: 0px 2px;">8</a><a href="#" style="margin: 0px 2px;">9</a><a href="#" style="margin: 0px 2px;">10</a>
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">다음 페이지</a></span>
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">마지막 페이지</a></span>
                </div>
            </div>
            <!-- END TABLE STRIPED -->
        </div>
    </div>
</th:block>
<th:block layout:fragment="script"></th:block>
</html>