<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>THE CUSTOM</title>
</th:block>
<th:block layout:fragment="content">
    <div class="main-content">
        <div class="container-fluid">
            <!-- TABLE STRIPED -->
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Board List</h2>
                </div>
                <div class="panel-body">
                    <form id="searchForm" onsubmit="return false;" autocomplete="off" style="width: 500px; float: left;">
                        <div class="input-group">
                            <input type="text" value="" class="form-control" placeholder="키워드를 입력해주세요">
                            <span class="input-group-btn"><button type="button" class="btn btn-primary">검색</button></span>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" style="float: right; margin: 0px 2px;">
                        <a th:href="@{/board/write.do}" style="color: white;">글쓰기</a>
                    </button>
                    <button type="button" class="btn btn-primary" style="float: right; margin: 0px 2px;">
                        <a style="color: white;" id="deleteBtn">선택삭제</a>
                    </button>
                </div>

                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" id="allCheckBox" >
                                        <span></span>
                                    </label>
                                </th>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${not #lists.isEmpty( boards )}" th:each="row, status : ${boards}">
                                <td><label class="fancy-checkbox"><input type="checkbox" id="rowCheck" name="rowCheck" th:value="${row.boardSeq}" ><span></span></label></td>
                                <td th:text="${status.size - status.index}"></td>
                                <td><a th:href="@{/board/view.do( boardSeq=${row.boardSeq} )}" th:text="${row.boardTitle}"></a></td>
                                <td th:text="${row.boardWriter}">Jobs</td>
                                <td th:text="${#temporals.format( row.boardRegDate, 'yyyy-MM-dd HH:mm' )}"></td>
                            </tr>

                            <tr th:unless="${not #lists.isEmpty( boards )}">
                                <td colspan="5">
                                    <div>검색된 결과가 없습니다.</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--/* 페이지네이션 */-->
                <div class="panel-body" style="text-align: center; font-size: 20px;">
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">첫 페이지</a></span>
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">이전 페이지</a></span>
                    <span class="on" style="margin: 0px 2px;">1</span><a href="#" style="margin: 0px 2px;">2</a><a href="#" style="margin: 0px 2px;">3</a>
                    <a href="#" style="margin: 0px 2px;">4</a><a href="#" style="margin: 0px 2px;">5</a><a href="#" style="margin: 0px 2px;">6</a>
                    <a href="#" style="margin: 0px 2px;">7</a><a href="#" style="margin: 0px 2px;">8</a><a href="#" style="margin: 0px 2px;">9</a><a href="#" style="margin: 0px 2px;">10</a>
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">다음 페이지</a></span>
                    <span class="btn btn-primary btn-sm"><a href="#" style="color: white;">마지막 페이지</a></span>
                </div>
            </div>
            <!-- END TABLE STRIPED -->
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

            // 전체 선택 체크박스 가져오기
            const allChkBox = document.querySelector("#allCheckBox");

            // 체크박스 전체 선택 클릭 이벤트
            allChkBox.addEventListener("click", e => {

                // 전체 체크박스 버튼 체크 여부
                console.log(`check - before confirm() checked value : ${allChkBox.checked}`);

                // 자식 체크박스들 가져오기 (NodeList)
                const checkboxes = document.querySelectorAll('input[name="rowCheck"]');

                // 전체 선택 체크박스 체크여부에 따른 자식 체크박스 체크로직
                if(allChkBox.checked){
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = true;
                    });
                } else{
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                };
            });

            // 선택 삭제버튼 가져오기
            const deleteBtn = document.querySelector("#deleteBtn");

            // 선택 삭제
            deleteBtn.addEventListener("click", e => {

                // 체크된 값 가져오기
                const checked = document.querySelectorAll('input[name="rowCheck"]:checked');
                console.log(checked.length);

                // 체크가 안 되어있으면 false
                if(checked.length < 1){
                    alert('삭제할 게시글을 체크해주세요.');
                    return false;
                }

                // seq 배열 생성
                const seqList = [];

                // seqList에 체크된 것들의 값 넣기
                checked.forEach((check) => {
                    seqList.push(check.value);
                });

                // confirm창 취소 누르면 false
                if(!confirm('선택한 게시글을 삭제할까요?')){
                    return false;
                };

                // html을 동적으로 구현해서 게시글 삭제
                const formHtml = `
                    <form action="/board/multiDelete.do" id="deleteForm" method="post">
                        <input type="hidden" id="seqList" name="seqList" value="${seqList}" />
                    </form>
                `;
                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
                alert(`게시글이 삭제되었습니다.`);
            });

        /*]]>*/
    </script>
</th:block>
</html>