<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>THE CUSTOM 글작성</title>
</th:block>
<th:block layout:fragment="content">
  <div class="main-content">
    <div class="panel">
      <div class="panel-heading">
        <h2>RegBoard</h2>
      </div>
      <div class="panel-body">
        <h3>제목</h3>
        <input type="text" class="form-control" placeholder="제목을 입력해주세요"><br>
        <h3>작성자</h3>
        <input type="text" class="form-control" placeholder="이름을 입력해주세요"><br>
        <h3>내용</h3>
        <textarea class="form-control" placeholder="내용을 입력해주세요" rows="6"></textarea>
        <br>
        <h3>파일</h3>
        <input type="file" id="boardFile" th:name="boardImgPath">
      </div>
      <div class="panel-footer">
        
      </div>
    </div>
  </div>
</th:block>
<th:block layout:fragment="script"></th:block>
</html>